
.Weather {
    border: 1px solid #e66ea2;
    font-family: Arial, Helvetica, sans-serif;
    padding:16px;
    margin: 30px auto;
    border-radius: 5px;
  
}

.Weather form {
    margin-bottom:20px;
   

}


.Weather h1 {
    
    color:#e66ea2;
    font-size: 28px;
    font-weight: 100;
    line-height: 29px;
    margin:20px 0 0 0;
}

.Weather ul {
    margin:0;
    padding:0;
    margin-top: 15px;

}
.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather .clearfix {
    display: flex;
    align-items: center; 
  }
.Weather img{
    height: 64px;
    display: inline-block;
    margin-right: 10px;
    width: 64px;
   
}
.Weather .temperature {
    font-weight: bold;
    color:rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;

}

.Weather .Unit {
    color:rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top:-32px;
    margin-left: 5px;
}

.btn-light:hover {
    background-color: palevioletred;
    color:aliceblue;
}

.btn-light {
    background-color: pink;

}

.form-control:hover {
box-shadow:  0 3px 10px rgba(230, 110, 162, 100);
}
.form-control{
border: 1px pink;
}

